.post__title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1px;
    font-size: 24px;
    color: #fff;
}
.post__tags{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font-size: 12px;
    color: #aeaeae;
    align-items: center;
    margin-bottom: 30px;
}
.post__tags-tag{
    margin-left: 10px !important;
    margin-right: 0 !important;
    background: #9eb992 !important;
    border:none !important;
    font-size: 12px;
    color: #aeaeae ;
}
.post__data{
    display: flex;
    margin-bottom: 20px;
    min-height: 165px;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.post__data-user{
    background: rgb(160, 160, 160);
    padding: 10px 15px;
    min-width: 170px;
    max-width: 170px;
    text-align: center;
    background: #373737;
    border-radius: 10px 0 0 10px;
}
.post__data-user__login{
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
.post__data-user__login:hover{
    color: rgb(4, 179, 39);
    transition: 0.2s;
}
.post__data-user__avatar{
    width: 90px;
    height: 90px;
    border-radius: 50%;
}
.post__data-question{
    background: rgb(218, 218, 218);
    padding: 10px 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #474747;
    border-radius: 0 10px 10px 0;
    
}
.post__data-question__text{
    margin-bottom: 10px;
    font-size: 16px;
    /* color: #fff */
    overflow-wrap: anywhere;
}
.post__data-question__date{
    font-size: 14px;
    font-weight: 100;
}
.post__answer{
    color: #fff;
    font-size: 22px;
    margin-bottom: 20px;
}
.post__data-comment{
    margin-bottom: 10px;
    display: flex;
    min-height: 165px;
    border-radius:10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.post__data-comment__user{
    background: rgb(160, 160, 160);
    padding: 10px 15px;
    min-width: 170px;
    max-width: 170px;
    text-align: center;
    background: #373737;
    color: #fff;
    border-radius: 10px 0 0 10px;
}
.post__data-comment__user-login{
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
.post__data-comment__user-login:hover{
    color: rgb(4, 179, 39);
    transition: 0.2s;
}
.post__data-comment__user-avatar{
    width: 90px;
    height: 90px;
    border-radius: 50%;
}
.post__data-comment__data{
    background: rgb(218, 218, 218);
    padding: 10px 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #474747;
    color: #fff;
    border-radius: 0 10px 10px 0;
}
.post__data-comment__data-text{
    margin-bottom: 10px;
    font-size: 16px;
    overflow-wrap: anywhere;
}
.post__data-comment__date{
    font-size: 14px;
    font-weight: 100;
}
.post__add{
    margin: 15px 0 15px 0;
    padding: 14px 10px;
    background: #373737;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.post__add-input{
    height: 42px;
    background: #373737 !important;
    border-radius: 10px !important;
    margin-right: 10px !important;
    border: 2px solid #474747 !important;
    color: #eaeaea !important;
}
.post__add-btn{
    width: 42px !important;
    height: 42px !important;
    display: flex;
    align-items: center;
}
.post__add-btn span svg{
    width: 90%;
    height: 90%;
    color: #cecece;
}
.post__add-btn__img{}